<h1>Modificación de datos</h1>
<form action="/modificar/{{usuario.id}}" method="POST">
    <input type="text" name="nombre" placeholder="Escribe tu nombre" value="{{usuario.nombre}}">
    <input type="text" name="apellidos" placeholder="Escribe tu apellidos" value="{{usuario.apellidos}}">
    <input type="text" name="correo" placeholder="Escribe tu correo" value="{{usuario.correo}}">
    <input type="text" name="telefono" placeholder="Escribe tu telefono" value="{{usuario.telefono}}">
    <input type="password" name="contrasena" placeholder="Escribe tu contrasena" value="{{usuario.contrasena}}">
    <input type="text" name="direccion" placeholder="Escribe tu direccion" value="{{usuario.direccion}}">
    <input type="text" name="ciudad" placeholder="Escribe tu ciudad" value="{{usuario.ciudad}}">
    <input type="text" name="provincia" placeholder="Escribe tu provincia" value="{{usuario.provincia}}">
    <input type="text" name="codigo_postal" placeholder="Escribe tu codigo_postal" value="{{usuario.codigo_postal}}">
    <input type="text" name="descuento" placeholder="Escribe tu descuento" value="{{usuario.descuento}}">
    <button>Save</button>
</form>
